<template>
    <section class="movies-list view">
        <h1>YTS Movies</h1>
        <div class="movies-area">
            <MovieCard v-for="movie of moviesList" :movie="movie"/>
        </div>
        <!--        <ul>-->
        <!--            <li v-for="movie of moviesList">{{movie.title}}</li>-->
        <!--        </ul>-->
    </section>
</template>
<script>
    import axios from 'axios';
    import MovieCard from "../../components/MovieCard/MovieCard";

    export default {
        name: 'MoviesList',
        components: {MovieCard},
        data() {
            return {
                moviesList: []
            }
        },
        async created() {
            await axios.get('https://yts.mx/api/v2/list_movies.json').then(res => {
                console.log(res.data.data.movies);
                this.moviesList = res.data.data.movies;
            });
            console.log('ubapsidfnasijldfnlasidf')
        }
    }
</script>
<style>
    .movies-area{
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
    }
</style>