<template>
    <div class="movie-card">
        <img :src="movie.medium_cover_image" alt="">
        <h2>{{movie.title}}</h2>
    </div>
</template>
<script>
    export default {
        name:'MovieCard',
        props:['movie']
    }
</script>
<style lang="scss">
    .movie-card{
        border-radius: 3px;
        overflow: hidden;
        width:23%;
        height:250px;
        background:white;
        margin-bottom:10px;
        img{
            height:160px;
            width:100%;
            object-fit: cover;
            object-position: center;
        }
        h2{
            text-align: center;
        }
    }
</style>