<template>
    <div class="side-nav">
<!--        <router-link to="/"></router-link>-->
        <router-link class="side-nav-item" v-for="item of sidenav" :to="item.path">{{item.label}}</router-link>
    </div>
</template>
<script>
    export default {
        name:'Sidenav',
        data(){
            return{
                sidenav:[
                    { label:'Home', path:'home'},
                    { label:'Search', path:'search'},
                    { label:'List', path:'/'},
                    { label:'List', path:'/'},
                    { label:'List', path:'/'},
                    { label:'List', path:'/'},
                    { label:'List', path:'/'},
                    { label:'List', path:'/'}
                ]
            }
        }
    }
</script>
<style></style>