<template>
  <div id="app">
<!--    <div id="nav">-->
<!--      <router-link to="/">Home</router-link> |-->
<!--      <router-link to="/about">About</router-link>-->
<!--    </div>-->
<!--    <router-view/>-->
    <Layout/>
  </div>
</template>
<script>
  import Layout from "./layout/Layout";
  export default {
    components: {Layout}
  }
</script>
<style>
    body{
        margin:0;
    }
</style>