<template>
    <main>
        <Sidenav/>
        <div class="content">
            <Nav/>
            <MoviesList/>
            <!--            <router-view></router-view>-->
        </div>
    </main>
</template>

<script>
    import Sidenav from "../components/partials/Sidenav/Sidenav";
    import Nav from "../components/partials/Nav/Nav";
    import MoviesList from "../views/MoviesList/MoviesList";

    export default {
        name: 'Layout',
        components: {MoviesList, Nav, Sidenav}
    }
</script>
<style lang="scss">
    main {
        height: 100vh;
        width: 100%;
        display: flex;

        .side-nav {
            background:coral;
            color:white;
            width: 17.5%;
            height:100%;
            padding:0 3vw;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            box-shadow: 2px 0 16px rgba(0,0,0,0.12);
            .side-nav-item{
                padding:10px 20px;
                &:hover{
                    background:white;
                    color:coral;
                }
            }
        }
        .content{
            flex:1;
            height:100%;
            display: flex;
            flex-direction: column;
            overflow: auto;
            padding:0 3vw;
            box-sizing: border-box;
            background:rgba(0,0,0,0.05);
            nav{
                height:8vh;
            }
            .view{
                flex:1;
                width:100%;
            }
        }
    }
</style>